﻿html, body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.gradient {
    background-image: linear-gradient(-45deg, rgb(255,255,255), rgb(146,168,128));
}

.coverflow {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    padding: 1rem 0;
}
    .coverflow ul {
        list-style: none;
        text-align: center;
    }
        .coverflow ul li {
            display: inline;
            margin: 0px 10px;
        }
            .coverflow ul li a {
                background-repeat: no-repeat;
                background-size: contain;
                color: #fff;
                display: table-cell;
                font-weight: 100;
                font-size: 32px;
                vertical-align: middle;
                text-align: center;
                height: 200px;
                width: 200px;
                text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
            }
                .coverflow ul li a.btn-order {
                    background-image: url(/img/order.png);
                }

                .coverflow ul li a.btn-act {
                    background-image: url(/img/act.png);
                }

                .coverflow ul li a.btn-analyze {
                    background-image: url(/img/analyze.png);
                }