﻿a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar {
    background-color: #00366b;
    padding: 1rem 0;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.box-shadow { 
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2); 
}
